<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0;padding: 0;">
    <div style="background:linear-gradient(70deg, rgba(206, 120, 40, 0.932), rgba(22, 76, 201, 0.962));display: flex;align-items: baseline;justify-content: space-between;">
        
        <ul style="display: flex;justify-content: space-between;align-items: baseline;text-decoration: none;color: white;flex-direction: row;list-style-type: none;">
            <li style="margin-right: 35px;"><a href="/" style="text-decoration: none;color: white;font-size: 17px;font-family: arial;font-weight: 700;">Home</a></li>
            <li style="margin-right: 35px;"><a href="/listfeedbacks" style="text-decoration: none;color: white;font-size: 17px;font-family: arial;font-weight: 700;">Feedback List</a></li>
        </ul>
    </div><br>
    <form action="/addfeedback_submit" method="post">
        <table style="width:500px;margin: 0 auto;background:linear-gradient(70deg, rgba(206, 120, 40, 0.932), rgba(22, 76, 201, 0.962));padding: 40px;color:white;font-family: arial;">
            <tr>
                <td>Client Name</td>
                <td><input type="text" name="client_name" value="<%= result[0].client_name %>"></td>
            </tr>

            <tr>
                <td>Creativity</td>
                <td><input type="number" name="creativity" value="<%= result[0].creativity %>"></td>
            </tr>

            <tr>
                <td>Designing</td>
                <td><input type="number" name="designing" value="<%= result[0].designing %>"></td>
            </tr>

            <tr>
                <td>Team Work</td>
                <td><input type="number" name="team_work" value="<%= result[0].team_work %>"></td>
            </tr>

            <tr>
                <td>Feedback</td>
                <td><input type="text" name="feedback" value="<%= result[0].feedback %>"></td>
            </tr>

            <tr>
                <td>Service Used</td>
                <td>
                    <select name="service_id">
                        <% for(let i = 0; i < result.length; i++){ %>
                            <option value="<%= result[i].service_id %>"><%= result[i].service_name %></option>
                        <% } %>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
