<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0;padding: 0;">
    <div style = "background:linear-gradient(70deg, rgba(206, 120, 40, 0.932), rgba(22, 76, 201, 0.962));display: flex;align-items: baseline;justify-content: space-between;">
        <div style = "font-size: 40px;font-family: arial;color:white;font-weight: 800;margin-left: 100px;">Digital</div>
        
        <ul style = "display: flex;justify-content: space-between;align-items: baseline;text-decoration: none;color: white;flex-direction: row;  list-style-type: none;">
            <li style = "margin-right: 35px;"><a href="/listemp" style = "text-decoration: none;color: white;font-size: 17px;font-family: arial;font-weight: 700;">Employee List</a></li>
            <li style = "margin-right: 35px;"><a href="/addemp" style = "text-decoration: none;color: white;font-size: 17px;font-family: arial;font-weight: 700;">Add Employee</a></li>
            <li style = "margin-right: 35px;"><a href="/" style = "text-decoration: none;;color: white;font-size: 17px;font-family: arial;font-weight: 700;">Home</a></li>
        </ul>
    </div><br>
    <form action="/addemp_submit" method="post">
        <table style="width:500px;margin: 0 auto;background:linear-gradient(70deg, rgba(206, 120, 40, 0.932), rgba(22, 76, 201, 0.962));padding: 40px;">
            <tr>
                <td>Employee Name</td>
                <td><input type="text" name="ename" value="<%= result.ename %>"></td>
            </tr>

            <tr>
                <td>Address 1</td>
                <td><input type="text" name="add1" value="<%= result.add1 %>"></td>
            </tr>

            <tr>
                <td>DOB</td>
                <td><input type="date" name="dob" value="<%= result.dob %>"></td>
            </tr>

            <tr>
                <td>DOJ</td>
                <td><input type="date" name="doj" value="<%= result.doj %>"></td>
            </tr>

            <tr>
                <td>Salary</td>
                <td><input type="number" name="salary" value="<%= result.salary %>"></td>
            </tr>

            <tr>
                <td>Department</td>
                <td>
                    <select name="deptid">
                        <% for(let i = 0; i < result.length; i++){ %>
                            <option value="<%= result[i].deptid %>"><%= result[i].dname %></option>
                        <% } %>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
